<!DOCTYPE html>
<html lang="lv">

<head>
    <link rel="stylesheet" href="/static/css/SākumsStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="medicīna" content="medicīna">
    <title>Sākums</title>
    <link rel="icon" href="/static/img/logs2">
</head>

<body>
    <div>

        <img src="/static/img/logo" class="logo">

        <div class="menu">
            <a class="sakums" href="#">Sākums</a>
            <a class="slimnicas" href="/Slimnīcas">Slimnīca</a>
            <a class="pacientiem" href="/Pacientiem">Pacientiem</a>
            <a class="Kontakti" href="/Kontakti">Kontakti</a>
        </div>

        <div class="meklet">
            <input type="text" class="meklēšanasAile" placeholder="Meklēt....">
            <button type="submit" class="MeklešanasPoga"></button>
        </div>

        <div>
            <button class="Ieiet">Ieiet</button>
        </div>
    </div>

    <div class="jaunumuTabula">
        <h2 class="jaunumi">Jaunumi</h2>
        <h3 class='virsraksts'>COVID-19 vakcinācijas kabinets</h3>
        <p class='jaunumuapraksts'>Saskaņā ar valdībā apstiprināto informatīvo ziņojumu “Par Covid-19 vakcīnu
            ieviešanas
            stratēģiju” un
            veselības ministra rīkojumu, esam uzsākuši ārstniecības personu un ārstniecības iestāžu darbinieku
            vakcināciju pret koronarovīrusu COVID-19.
        </p>
        <p class='jaunumuapraksts'>
            Izpratne par vakcinēšanās nepieciešamību un atbalsts ir pietiekoši liels, izveidojies pieraksts 2 nedēļu
            garumā. Uz doto brīdi vakcinēšana tiek veikta vienā kabinetā, pats process aizņem 10 minūtes vienai
            personai, jo informācija jāievada sistēmā www.eveseliba.gov.lv. Esošā kapacitāte ir 54 personas dienā.
        </p>
        <p class='jaunumuapraksts'>
            Veidojam rindu gan kolektīvai, gan individuālai ārstniecības personu vakcinācijai, pieteikties vakcinācijai:
        </p>
        <p class='jaunumuapraksts'>
            Nacionālais veselības dienests (NVD) sadarbībā ar Slimības profilakses un kontroles centru (SPKC) un
            Zāļu
            valsts aģentūru (ZVA) izveidojis karti ar Covid-19 vakcinācijas kabinetu adresēm un kontaktinformāciju,
            kuros brīvprātīgi tiek vakcinētas ārstniecības personas, ārstniecības atbalsta personas un darbinieki.
        </p>
    </div>

    <div class="apaksa">
        <h3 class="nosaukums">Medicīnas centrs</h3>
        <h3 class="talr">Talr. +371 26745334</h3>

    </div>

</body>



</html>