body {
  background: rgb(14, 220, 240);
  background: linear-gradient(
    90deg,
    rgba(14, 220, 240, 1) 0%,
    rgba(1, 52, 215, 0.6839110644257703) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.logo {
  height: 90%;
  margin-top: 50px;
  margin-left: 50px;
}


.apaksa {
  right: 5px;
  border-style: solid;
  margin-top: 20px;
  margin-right: -5px;
  height: 31px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-color: #b2dcd9;
  background-color: #b2dcd9;
}

.nosaukums {
  margin-top: 5px;
  margin-left: 15px;
}

.talr {
  margin-top: -38px;
  margin-left: 89%;
}

.menu {
  position: fixed;
  background-color: white;
  height: 150px;
  width: 100%;
  margin-top: -50px;
  margin-left: -10px;
  /* margin-right: 100px; */
  /* position: fixed; */
  
}
.menu-4 {
  margin-top: -30px;
  margin-left: -500px;
  margin-bottom: -90px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
.menu-4 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.menu-4 a {
  padding: 0.3em 0;
  color: #212121;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.menu-4 a:before,
.menu-4 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #fa0808;
}
.menu-4 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #212121;
  white-space: nowrap;
}

#buttons {
  margin-left: 1600px;
  text-align: center;
}

.btn {
  border-radius: 5px;
  padding: 8px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: fixed;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3c93d5;
}
#poga {
  margin-bottom: 80px;
}

