.menu{
  margin-top: -200px;
}

.pacientiem {
  background-color: #ddd;
}

.eparaksts {
  margin-top: 30px;
  margin-left: 20px;
  width: 400px;
}
.punkti {
  margin-left: 30px;
}
.virsraksts {
  margin-left: 55px;
  font-size: 20px;
}
.border {
  border: #c4c4c4;
  background-color: #c4c4c4;
  width: 1200px;
  height: 250px;
  border-radius: 10px;
  margin: 10px;
  margin-top: -280px;
}

.virsraksts2 {
  margin: 10px;
  padding: 15px;
  margin-bottom: -5px;
}

.teksts {
  margin-left: 24px;
}

.border2 {
  margin-left: 1400px;
  margin-top: -560px;
  background-color: #efe8c4;
  width: 399px;
  border-radius: 15px;
  height: 500px;
}
.bildee {
  border-radius: 15px 15px 0px 0px;
}

.text3 {
  font-size: 20px;
  margin: 20px;
  text-align: center;
}

.informācija {
  background: rgb(255, 255, 255);
  margin-top: 170px;
  margin-left: -30px;
  width: 1300px;
  height: 620px;
  border-radius: 15px;
}

.bilde_arsti {
  display: list-item;
  width: 300px;
  margin-top: -289px;
  margin-left: 900px;
}

.menu-4 li:hover a,
.menu-4 .current3 a {
  transform: translateY(100%);
}
