.menu-4 li:hover a,
.menu-4 .current1 a {
  transform: translateY(100%);
}

.bilde {
  margin-left: -10px;
  width: 1922px;
  height: 800px;
}

.fons {
  height: 820px;
  width: 1950px;
}

body {
  background-image: url("/static/img/Care_hallwaymeeting_AS132228232_hero.jpg");
  height: 820px;
  width: 1950px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

.hero-section,
.banner-section {
  margin-top: -850px;
  margin-left: 300px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  color: #ffffff;
  z-index: 10;
  position: fixed;
}

.hero-section .subhead {
  text-transform: uppercase;
  letter-spacing: 4px;
}
* .hero-section h1 {
  margin-bottom: 32px;
}

.display-4 {
  margin-top: -10px;
  margin-left: 15px;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.btn-primary {
  margin-left: 110px;
  margin-top: -20px;
  color: #fff;
  background-color: #00d9a5;
  border-color: transparent;
}
