body {
	background-color: #75abfb;
}

.logo {
	height: 90%;
	margin-top: 30px;
	margin-left: 50px;
}

.menu {
	display: fixed;
	background: rgb(10, 218, 44);
	background: linear-gradient(
		0deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 0, 0, 1) 100%
	);
	overflow: hidden;
	width: 717px;
	height: 44px;
	position: absolute;
	margin-left: 350px;
	margin-top: -140px;
}

.menu a {
	float: left;
	color: #000000;
	text-align: center;
	padding: 12px 50px;
	text-decoration: none;
	font-size: 18px;
	font-family:Andale Mono, monospace ;
}

.menu a:hover {
	background: rgb(255,255,255);
	background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(97,243,255,1) 92%, rgba(0,236,255,1) 100%);
	color: black;
}

.meklet {
	margin-left: 1200px;
	margin-top: -128px;
}

.meklēšanasAile {
	width: 350px;
	height: 23px;
}

.MeklešanasPoga {
	width: 15px;
	height: 15px;
}

.Ieiet {
	display: block;
	margin-top: -35px;
	margin-left: 1700px;
	width: 150px;
	height: 40px;
	border-radius: 5px;
}
.apaksa {
	right: 5px;
	border-style: solid;
	margin-right: -5px;
	height: 31px;
	width: 100%;
	position: fixed;
	bottom: 0;
	border-color: #b2dcd9;
	background-color: #b2dcd9;
}

.nosaukums {
	margin-top: 5px;
	margin-left: 15px;
}

.talr {
	margin-top: -38px;
	margin-left: 89%;
}

.sadarbojamies {
	margin-top: 50px;
	text-align: center;
	margin-left: 650px;
	display: flex;
}

.slimnicas {
	background-color: #ddd;
}

.pievienot2 {
	display: inline-flex;
	flex-direction: column;
	width: 350px;
	height: auto;
	cursor: pointer;
	padding: 0px;
	margin: 10px;
	padding-top: 65px;
}

.slimnicasvirsraksts {
	width: 300px;
	margin-top: -2px;
	text-align: center;
}
.bilde {
	width: 300px;
	height: 200px;
  
}

#plus {
	display: inline-flex;
	flex-direction: column;
	width: 90px;
	margin-left: 150px;
	margin-top: 80px;
	cursor: pointer;
}

#logs {
	display: none;
	position: absolute;
	top: 56.2%;
	left: 50%;
	background: rgb(255, 0, 187);
	width: 250px;
	margin: -320px 0 0 -160px;
	padding: 45px;
	box-shadow: 0 0 3px rgb(255, 0, 0);
	margin-top: -200px;
	margin-right 100px;
}

.virsraksts {
	margin-top: -35px;
	margin-left: 25px;
}
#SlimnicasNosaukums {
	width: 235px;
	text-align: center;
}
#file {
	margin-top: 10px;
}

#poga {
	margin-left: 60px;
	margin-top: 20px;
}

.close{
	width: 30px;
	margin-top: -245px;
	margin-left: 270px;
	position: relative;
	
}
.fix{
	height: 80px;
}