#logss {
  position: absolute;
  top: 56.2%;
  left: 50%;
  background: rgb(0, 119, 255);
  width: 250px;
  margin: -320px 0 0 -160px;
  padding: 45px;
  box-shadow: 0 0 3px rgb(218, 0, 0);
  margin-top: -200px;
}

.virsraksts {
  margin-top: -35px;
  margin-left: 25px;
}
.slimnicasVirsraksts {
  margin-top: 180px;
  margin-left: 750px;
}

.menu-4 li:hover a,
.menu-4 .current2 a {
  transform: translateY(100%);
}

.menu{
  margin-top: -200px;
}