<!DOCTYPE html>
<html lang="lv">

<head>
    <link rel="stylesheet" href="/static/css/KontaktiStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="medicīna" content="medicīna">
    <title>Kontakti</title>
    <link rel="icon" href="/static/img/logo2.png">
</head>

<body>
    <div>

        <img src="/static/img/logo.png" class="logo">

        <div class="menu">
            <a class="sakums" href="/">Sākums</a>
            <a class="slimnicas" href="/slimnicas">Slimnīca</a>
            <a class="pacientiem" href="/pacientiem">Pacientiem</a>
            <a class="Kontakti" href="#">Kontakti</a>
        </div>

        <div class="meklet">
            <input type="text" class="meklēšanasAile" placeholder="Meklēt....">
            <button type="submit" class="MeklešanasPoga"></button>
        </div>
        <div>
            <button class="Ieiet">Ieiet</button>
        </div>
    </div>
<div>
    <div class="palidziba">
        <h3>
            Neatliekamās medicīniskās palīdzības nodaļa
        </h3>
        <p>
            Traumpunkts-34532123

        <p>
            Uzziņas par pacienta atrašanos stacionārā-125432323

        <p>
            Uzņemšana-21315342
        </p>
    </div>
    <div class="konsultacijas">
        <h3>
            Konsultatīvā nodaļa
        </h3>
        <p>
            Reģistratūra-12353534
        </p>
        <p>
            Medicīniskā aprūpe mājās-1512343
        </p>
    </div>
    <div class="filiale">
        <h3>
            Filiāles
        </h3>
        <p>
            Zobārstniecības poliklīnika-3004932
        </p>
        <a>
            Tuberkulozes un plaušu slimību ambulatorā daļa-45234543
        </a>
    </div>
    </div>

  <div class="border">
    <h4 class="virsraksts">Ir jautājums par COVID-19? Zvani:67387661</h4>
    <p class="teksts">Aicinam neizmantot ārkārtas talruni 113 kā uzziņu tālruni,kur iegūt informāciju par COVID-19,lai neradītu risku citiem cilvēkiem saņemt palīdzību dzīvībai kritiskās situācijās.</p>
  </div>

    <div class="apaksa">
        <h3 class="nosaukums">Medicīnas centrs</h3>
        <h3 class="talr">Talr. +371 26745334</h3>
    </div>

</body>



</html>