<!DOCTYPE html>
<html lang="lv">

<head>
    <link rel="stylesheet" href="/static/css/KontaktiStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="medicīna" content="medicīna">
    <title>Kontakti</title>
    <link rel="icon" href="/static/img/logo2.png">
</head>

<body>
    <div>

        <img src="/static/img/logo.png" class="logo">

        <div class="menu">
            <a class="sakums" href="/">Sākums</a>
            <a class="slimnicas" href="/slimnicas">Slimnīca</a>
            <a class="pacientiem" href="/pacientiem">Pacientiem</a>
            <a class="Kontakti" href="#">Kontakti</a>
        </div>

        <div class="meklet">
            <input type="text" class="meklēšanasAile" placeholder="Meklēt....">
            <button type="submit" class="MeklešanasPoga"></button>
        </div>
        <div>
            <button class="Ieiet">Ieiet</button>
        </div>
    </div>
    <div>
        <h3 class='Palīdzībasnodaļa'>
            Neatliekamās medicīniskās palīdzības nodaļa
        </h3>
        <p class='Traumpunkts'>
            Traumpunkts-34532123
        </p>
        <p class='Uzziņas'>
            Uzziņas par pacienta atrašanos stacionārā-125432323
        </p>
        <p class="Uzņemšana">
            Uzņemšana-21315342
        </p>
        <h3 class="konsultatīvāNodaļa">
            Konsultatīvā nodaļa
        </h3>
        <p class="Reģistratūra">
            Reģistratūra-12353534
        </p>
        <p class='Aprūpesmājās'>
            Medicīniskā aprūpe mājās-1512343
        </p>
        <h3 class="Filiāles">
            Filiāles
        </h3>
        <p class="Zobārstniecība">
            Zobārstniecības poliklīnika-3004932
        </p>
        <a class="Tuberkuloze">
            Tuberkulozes un plaušu slimību ambulatorā daļa-45234543
        </a>




    </div>
    <div class="apaksa">
        <h3 class="nosaukums">Medicīnas centrs</h3>
        <h3 class="talr">Talr. +371 26745334</h3>
    </div>

</body>



</html>