<!DOCTYPE html>
<html lang="lv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=chrome" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/kopigs.css') }}">
    <link rel="stylesheet" href="/static/css/Slimnīcas.css">
    {% block head %}{% endblock %}
    <meta name="medicīna" content="medicīna" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/static/img/logo.png" />
  </head>

  <body>

  <div class="menu">
    <div>
      <img src="/static/img/logo1.png" class="logo" /> 
      <div class="style-4">
        <ul class="menu-4">
        <li class="current1"><a data-hover="sākums"  href="/sakums">Sākums</a></li>
        <li class="current2"><a data-hover="slimnīcas" href="/slimnicas">Slimnīca</a></li>
        <li class="current3"><a data-hover="pacientiem"  href="/pacientiem">Pacientiem</a></li>
      </div>
    </div>

    <div id="buttons">
      {% if current_user.is_authenticated %}
      <a href="/logout" class="btn blue" id="poga">izlogoties</a>
      {%else%}
      <a href="/pieslegties" class="btn blue" id="poga">Ieiet</a>
      {% endif %}
    </div>
    
  </div>


    {% block body %}{% endblock %}

    <div class="apaksa">
      <h3 class="nosaukums">Medicīnas centrs</h3>
      <h3 class="talr">Talr. +371 26745334</h3>
    </div>
    {% block js %}{% endblock %}


  </body>
</html>
