{% extends 'kopigs.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/SakumsStylee.css') }}">
{% endblock %}

{% block title %}
Sākums
{% endblock %}

{% block body %}
<div class="fons"></div>


      <div class="hero-section">
        <div class="container text-center wow zoomIn">
          <span class="subhead">Atrodi savu tuvāko slimnīvu</span>
          <h1 class="display-4">un pieraksties!</h1>
          <a href="/slimnicas" class="btn btn-primary">Slimnīcas</a>
        </div>
      </div>

    {% endblock %}
