{% extends 'kopigs.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/SakumsStylee.css') }}">
{% endblock %}

{% block title %}
Sākums
{% endblock %}

{% block body %}

    <div class="jaunumuTabula">
      <h2 class="jaunumi">Jaunumi</h2>
      <h3 class="virsraksts">COVID-19 vakcinācijas kabinets</h3>
      <p class="jaunumuapraksts">
        Saskaņā ar valdībā apstiprināto informatīvo ziņojumu “Par Covid-19
        vakcīnu ieviešanas stratēģiju” un veselības ministra rīkojumu, esam
        uzsākuši ārstniecības personu un ārstniecības iestāžu darbinieku
        vakcināciju pret koronarovīrusu COVID-19.
      </p>
      <p class="jaunumuapraksts">
        Izpratne par vakcinēšanās nepieciešamību un atbalsts ir pietiekoši
        liels, izveidojies pieraksts 2 nedēļu garumā. Uz doto brīdi vakcinēšana
        tiek veikta vienā kabinetā, pats process aizņem 10 minūtes vienai
        personai, jo informācija jāievada sistēmā www.eveseliba.gov.lv. Esošā
        kapacitāte ir 54 personas dienā.
      </p>
      <p class="jaunumuapraksts">
        Veidojam rindu gan kolektīvai, gan individuālai ārstniecības personu
        vakcinācijai, pieteikties vakcinācijai:
      </p>
      <p class="jaunumuapraksts">
        Nacionālais veselības dienests (NVD) sadarbībā ar Slimības profilakses
        un kontroles centru (SPKC) un Zāļu valsts aģentūru (ZVA) izveidojis
        karti ar Covid-19 vakcinācijas kabinetu adresēm un kontaktinformāciju,
        kuros brīvprātīgi tiek vakcinētas ārstniecības personas, ārstniecības
        atbalsta personas un darbinieki.
      </p>
    </div>

    <div class="aprakstaBildes">
      <img src="/static/img/SakumaBilde2.png" class="bilde1" />
      <img src="/static/img/SakumaBilde3.png" class="bilde2" />
      <img src="/static/img/SakumaBilde4.png" class="bilde3" />
    </div>
    <img src="/static/img/arsti4.png" class="bilde_arsti2" />
    <img src="/static/img/arsti3.png" class="bilde_arsti" />
    <img src="/static/img/doctor_PNG15988.png" class="bilde_arsti3" />

    {% endblock %}