<!DOCTYPE html>
<html lang="lv">

<head>
    <link rel="stylesheet" href="/static/css/SlimnīcasStyle.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="medicīna" content="medicīna">
    <title>Slimnīcas</title>
    <link rel="icon" href="/static/img/logo2.png">
</head>

<body>
    <div>

        <img src="/static/img/logo.png" class="logo">

        <div class="menu">
            <a class="sakums" href="/">Sākums</a>
            <a class="slimnicas" href="#">Slimnīca</a>
            <a class="pacientiem" href="/pacientiem">Pacientiem</a>
            <a class="Kontakti" href="/kontakti">Kontakti</a>
        </div>

        <div class="meklet">
            <input type="text" class="meklēšanasAile" placeholder="Meklēt....">
            <button type="submit" class="MeklešanasPoga"></button>
        </div>
    </div>
    <div>
        <button class="Ieiet">Ieiet</button>
    </div>
    </div>

    <div id="logs">
        <h2 class="virsraksts">Pievienot slimnīcu</h2>
        <input placeholder="Slimnīcas nosaukums" type="text" id="SlimnicasNosaukums">
        <input type="file" id="file" accept="image/png, image/jpeg">
        <button id="poga">Pievienot slimnīcu</button>
    </div>

    <div class="slimnicasVirsraksts">
        <h1 class="sadarbojamies">Slimnīcas ar kurām mēs sadarbojamies.</h1>
    </div>

    <div id="slimnicasPievienosana">
        <span id="pievienot2">

        </span>
        <img src="/static/img/+.png" alt="plus" id="plus">
    </div>
    <div class=fix></div>

    <div class="apaksa">
        <h3 class="nosaukums">Medicīnas centrs</h3>
        <h3 class="talr">Talr. +371 26745334</h3>
    </div>

    <script src="/static/js/SlimnicasScript.js"></script>
    <script src="/static/js/SlimnicasScript2.js"></script>

</body>



</html>